{
  "openapi": "3.1.0",
  "info": {
    "title": "Aspose.Cells for .NET Examples Generator",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "http://faisalabad-examples-mcp.dynabic.com:7006"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Home",
        "operationId": "home__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {"text/html": {"schema": {"type": "string"}}}
          }
        }
      }
    },
    "/generate": {
      "post": {
        "summary": "Generate",
        "operationId": "generate_generate_post",
        "requestBody": {
          "content": {"application/x-www-form-urlencoded": {"schema": {"$ref": "#/components/schemas/Body_generate_generate_post"}}},
          "required": true
        },
        "responses": {
          "200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}},
          "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}
        }
      }
    },
    "/bulk-start": {
      "post": {
        "summary": "Bulk Start",
        "operationId": "bulk_start_bulk_start_post",
        "requestBody": {
          "content": {"multipart/form-data": {"schema": {"$ref": "#/components/schemas/Body_bulk_start_bulk_start_post"}}},
          "required": true
        },
        "responses": {
          "200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}},
          "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}
        }
      }
    },
    "/bulk-status/{job_id}": {
      "get": {
        "summary": "Bulk Status",
        "operationId": "bulk_status_bulk_status__job_id__get",
        "parameters": [{"name": "job_id", "in": "path", "required": true, "schema": {"type": "string", "title": "Job Id"}}],
        "responses": {
          "200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}},
          "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}
        }
      }
    },
    "/run-category": {
      "post": {
        "summary": "Run Category Api",
        "operationId": "run_category_api_run_category_post",
        "requestBody": {
          "content": {"application/x-www-form-urlencoded": {"schema": {"$ref": "#/components/schemas/Body_run_category_api_run_category_post"}}},
          "required": true
        },
        "responses": {
          "200": {"description": "Successful Response", "content": {"application/json": {"schema": {}}}},
          "422": {"description": "Validation Error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HTTPValidationError"}}}}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Body_bulk_start_bulk_start_post": {
        "properties": {"file": {"type": "string", "contentMediaType": "application/octet-stream", "title": "File"}},
        "type": "object",
        "required": ["file"],
        "title": "Body_bulk_start_bulk_start_post"
      },
      "Body_generate_generate_post": {
        "properties": {"task_name": {"type": "string", "title": "Task Name"}, "task_prompt": {"type": "string", "title": "Task Prompt"}},
        "type": "object",
        "required": ["task_name", "task_prompt"],
        "title": "Body_generate_generate_post"
      },
      "Body_run_category_api_run_category_post": {
        "properties": {"category": {"type": "string", "title": "Category"}},
        "type": "object",
        "required": ["category"],
        "title": "Body_run_category_api_run_category_post"
      },
      "HTTPValidationError": {
        "properties": {"detail": {"items": {"$ref": "#/components/schemas/ValidationError"}, "type": "array", "title": "Detail"}},
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {"items": {"anyOf": [{"type": "string"}, {"type": "integer"}]}, "type": "array", "title": "Location"},
          "msg": {"type": "string", "title": "Message"},
          "type": {"type": "string", "title": "Error Type"},
          "input": {"title": "Input"},
          "ctx": {"type": "object", "title": "Context"}
        },
        "type": "object",
        "required": ["loc", "msg", "type"],
        "title": "ValidationError"
      }
    }
  },
  "externalDocs": {
    "description": "Aspose.Cells Agentic .NET Examples repository",
    "url": "https://github.com/aspose-cells/agentic-net-examples"
  }
}
